[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymata4 = "*"
pycaw = "*"
install = "*"
wolframalpha = "*"
sympy = "*"
auto-py-to-exe = "*"
gevent = "*"
keyboard = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.4"
